* {
    margin: 0; /*Ustawia Odstęp zewnętrzny na 0 dla wszystkich elementów na stronie*/
    padding: 0; /*Ustawia Odstęp wewnętrzny  na 0 dla wszystkich elementów na stronie */
    box-sizing: border-box; /* Szerokość i wysokość elementu obejmuje także jego marginesy i paddingi. */
}

html {
    scroll-behavior: smooth; /* Płynne przewijanie strony do elementów docelowych po kliknięciu na linki wewnętrzne */
}

.flex_column_container {
    display: flex; /* Ustawia na elemencie i jego dzieciach włączony model flexbox, który umożliwia elastyczne układanie elementów w kontenerze */
    flex-direction: column; /* powoduje, że elementy w kontenerze są układane w kolumnie (pionowo), a nie w rzędzie (poziomo) */
    justify-content: space-between; /* Ustala, jak elementy są rozmieszczone wzdłuż głównej osi(kolumnie) kontenera. W tym przypadku powoduje równomierne rozłożenie elementów, z odstępem pomiędzy nimi */
    align-items: center;  /* wyrównanie elementów w poprzek kontenera, czyli w tym przypadku elementy będą wyśrodkowane w osi poziomej. */
}

.text_container {
    flex: 1; /* oznacza, że ten element będzie rozciągnięty, aby wypełnić dostępną przestrzeń wzdłuż głównej osi kontenera */
    text-align: center; /* ustawia wyrównanie tekstu w kontenerze na środek. */
  }

 .stylish-block {
    margin: 10px 10px;
    background-color: #7518a0;
    border: 1px solid #ee0000;
    padding: 10px;
    border-radius: 5px; /* Zaokrąglenie narożników */ 
    font-size: 18px; /* rozmiar czcionki */
    font-weight: bold; /* ustawia pogrubienie tekstu na wytłuszczenie */
  }
  
header {
    width: 100%;
    height: 60vh;
    padding: 20px;
    background-image: url('./img/sweetsword.jpg');
    background-position: center; /* wyśrodkowanie w pionie i poziomie */
    background-repeat: no-repeat; /* brak powtażania */
    background-size: cover; /* tło zostanie proporcjonalnie przeskalowane, aby pokryć całą powierzchnię elementu, zachowując przy tym swoje proporcje */
}

header a {
    color: white;
    background-color: darkblue;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
}
main {
    background-color: aquamarine;
}
  
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; /* odstęp na dolnej krawędzi elementu */
  }
  
  .nice-button {
    margin: 10px 10px; /* odległość między przyciskami w dół */
    height: 50px;
    width: 150px;
    box-sizing: border-box;
    padding: 12px 24px; /* wewnętrzny margines */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  


section {
    padding: 20px;
}

.single_place {
    margin-bottom: 20px;
}

.single_place p {
    line-height: 1.5;
}

.single_place img {
    width: 100%;
    height: auto;
}

footer {
    background-color: black;
    color: white;
    padding: 30px 10px;
}

@media screen and (min-width: 768px) {
    .all_places {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .single_place {
        flex-basis: 48%;
    }

    .flex_column_container {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1200px) {
    .single_place {
        flex-basis: 23%;
    }
}